In [1]:
import pandas as pd
import re

In [14]:
with open("original.txt", "r") as f:
    content = f.read()
    print(content)

In [16]:
with open("original.txt", "r", encoding="utf-8") as f:
    lines = f.readlines()
    print(lines[:5])

[]

In [15]:
content

''

In [17]:
# Load the text file
with open("original.txt", "r") as f:
    lines = f.readlines()

# Prepare a list to collect rows
data = []

# Iterate over lines
for line in lines:
    # Extract class ID and class name
    class_match = re.match(r"Class (\d+) \(\s*(.*?)\s*\):", line)
    if class_match:
        class_id = int(class_match.group(1))
        class_name = class_match.group(2)

        # Extract all prototype tuples (id, score)
        prototypes = re.findall(r"\((\d+), ([\d\.eE+-]+)\)", line)
        for proto_id, score in prototypes:
            data.append({
                "class_id": class_id,
                "class_name": class_name,
                "prototype_id": int(proto_id),
                "activation_score": float(score)
            })

# Create DataFrame
df = pd.DataFrame(data)

# Show a sample
print(df.head())

   class_id                  class_name  prototype_id  activation_score
0         0  AM_General_Hummer_SUV_2000           227          1.204273
1         0  AM_General_Hummer_SUV_2000           387          5.160657
2         0  AM_General_Hummer_SUV_2000           572         34.427044
3         1   Acura_Integra_Type_R_2001           115          1.196180
4         1   Acura_Integra_Type_R_2001           166         13.278946

In [18]:
df.head()

   class_id                  class_name  prototype_id  activation_score
0         0  AM_General_Hummer_SUV_2000           227          1.204273
1         0  AM_General_Hummer_SUV_2000           387          5.160657
2         0  AM_General_Hummer_SUV_2000           572         34.427044
3         1   Acura_Integra_Type_R_2001           115          1.196180
4         1   Acura_Integra_Type_R_2001           166         13.278946